.small-img {
  width: 100px;
  height: 100px;
}

.fas {
  margin-bottom: 10px;
}

.list-unstyled i {
  margin-right: 10px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-center {
  text-align: center !important;
}

.text-primary {
  color: #007bff !important;
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
.contact-info {
  border: 1px solid #e9ecef;
  border-radius: 10px;
  background-color: #fff;
}

.contact-icon {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 10px;
}

h5 {
  font-weight: bold;
  margin-top: 10px;
}

p {
  margin: 0;
}
/* App.css */
.Container.px-5 {
  margin-left: 100px;
  margin-right: 20px;
}
